<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base html</title>
    <link rel="stylesheet" href="/static/estilo.css">
</head>
<body>
    
    <header>
        <div id='topo'>
            <p>Bem-vindo {{ utilizador.id }}</p>
            <p>Log Out</p> <!-- a rever -->
        </div>
        <h1>Boards & Games</h1>
        <nav>
            <a href="{{ url_for('paginaInicial') }}">Página Inicial</a>
            <a href="{{ url_for('perfil') }}">Meu Perfil</a>
            <a href="{{ url_for('colecao') }}">Minha Coleção</a>
            <a href="{{ url_for('todosJogos') }}">Todos os Jogos</a>
        </nav>

        <hr>
    </header>

    <main>
        {% block conteudo %}{% endblock %} 
    </main>

    <footer>
        <p>Boards & Games</p>
    </footer>
</body>
</html>
