{% extends "base.html" %}
{% block conteudo %}

<style>
    main{
        padding: 0 !important;
        margin: 0 !important;
    }
</style>

<div id="homepage" style="margin-top: 20px;">
    <section id="top10">
        <h2>Top 10</h2>
        <ol>
            {% for jogo in top10 %}
            <span class="nome">
                <a href="{{url_for('perfil')}}">{{jogo.nome}}</a>
                <span class="avaliacao">⭐{{ jogo.avaliacaoPublico }}</span>
            </span>

            {% endfor %}
        </ol>
    </section>

    <section id="recomendacoes">
        <h2>Recomendações</h2>
        <div id="cards-recomendacoes">
            {% for jogo in recomendacoes %}
            <div class="card-jogo">
                <h3>{{ jogo.nome }}</h3>
                <p>⭐{{ jogo.avaliacaoPublico }}</p>
            </div>    
            {% endfor %}    
        </div>
    </section>
</div>

{% endblock %}
