{% extends "base.html" %}

{% block conteudo %}

<div id="detalheJogo">


    <div id="infoJogo">

        <div id="cabecalhoJogo">
            <table>
                <tr>
                    <td><h1>{{ jogo.nome }}</h1></td>
                    <td><h1>⭐{{ jogo.rankJogo }}</h1></td>
                </tr>
            </table>
        </div>

        <p>Ano publicado: {{ jogo.anoPublicado }}</p>
        <p>Jogadores (min - max): {{ jogo.minJogadores }} - {{ jogo.maxJogadores }}</p>
        <p>Min Idade: {{ jogo.minIdade }}</p>
        <p>Duração de partida média: {{ jogo.mediaDuracao }} minutos</p>
        <p>Avaliação publico: {{ jogo.avaliacaoPublico }} ({{ jogo.numAvaliacoes }} avaliações)</p>


        <table>
            <tr>
                <td>{% if jogo.id in favoritos%}Favorito{% else %}Não Favorito{% endif %}</td>
                <td>{% if jogo.id in jogados %}Jogado{% else %}Não Jogado{% endif %}</td>
                <td>{% if jogo.id in possui %}Possui{% else %}Não Possui{% endif %}</td>
            </tr>
        </table>


        {% if jogo.id in colecao %}
                <form method="POST" action="{{ url_for('removerColecaoJogo') }}">
                    <input type="hidden" name="jogo_id" value="{{ jogo.id }}">
                    <button type="submit">Remover da minha coleção</button>
                </form>
            {% else %}
                <form method="POST" action="{{ url_for('adicionarColecaoJogo') }}">
                    <input type="hidden" name="jogo_id" value="{{ jogo.id }}">
                    <button type="submit">Adicionar à minha coleção</button>
                </form>
        {% endif %}

    </div>

</div>

{% endblock %}
