{% extends "baseConta.html" %}

{% block conteudo %}
<h2>Login</h2>

{% with msgs = get_flashed_messages(with_categories=true) %}
  {% if msgs %}
    {% for categoria, msg in msgs %}
<p><strong>{{ msg }}</strong></p> <!--CHANGE COLOR TO RED-->
    {% endfor %}
  {% endif %}
{% endwith %}

<form method="POST">
    <label>Nome do Utilizador</label>
    <input type="text" name="id" required>
  <br>
    <label>Senha</label>
    <input type="password" name="senha">

    <button type="submit">Login</button>
</form>

<center><p><a href="login.html">Criar Conta</a></p></center>



{% endblock %}

