<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base html</title>
    <link rel="stylesheet" href="/static/estilo.css">
</head>
<body>
    
    <header>
        <h1>Boards & Games</h1>
        <nav>

            
            
        </nav>

        <hr>
    </header>

    <main>
        {% block conteudo %}{% endblock %} 
    </main>

    <footer>
        <p>Boards & Games</p>
    </footer>
</body>
</html>